#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

th, td {
  padding: 10px;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
}
.recommendations-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f9;
}

h2 {
  color: #333;
}

.violation {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.violation h3 {
  margin: 0 0 10px 0;
  color: #b33a3a; /* Red color for description */
}

.violation-item {
  margin-bottom: 10px;
}

.violation-details {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  border: 1px solid #ddd;
}

.violation-details div {
  margin-bottom: 5px;
}

pre {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-top: 5px;
}

.toggle-btn {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

.toggle-btn:hover {
  background-color: #0056b3;
}

.violation p {
  color: #444;
}
.download-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.download-btn:hover {
  background-color: #218838;
}
